@charset "utf-8";

.table-wrap {
    overflow-x: auto;

    @extend %table;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;


    &.primary {
        @include themeColor(color, color00);
    }

    &.border {
        @include themeColor(background-color, color00);
        border: 1px solid currentColor;
        @include themeColor(color, color01);

        &.disabled {
            @include themeColor(background-color, color00);
            pointer-events: none;
        }
    }

    &.color-primary {
        @include font(16);
    }

    &.disabled {
        pointer-events: none;
    }
}

.check-type1 {
    position: relative;
    @extend %CheckboxDefault;
}

.radio-type1 {
    position: relative;
    @extend %RadioButtonDefault;
}

.select {
    position: relative;
    @extend %SelectDefault;
}

.form {
    position: relative;
    @extend %InputDefault;
    @extend %textarea;
    @extend %fileUpload;

    .label {
        display: flex;
        align-items: center;
        @include font(15);

        .essential {
            font-size: 0;
            line-height: 1;

            &::before {
                content: "*";
                display: inline-block;
                @include font(15);
                color: #ff5c00;
            }
        }

        &+.flex-field {

            .datepicker::after {
                top: 0;
            }
        }
    }
}

.flex-field {

    .form {

        &.datepicker {

            .input-text {
                width: 100%;
                margin: 0;
            }

            &::after {
                border: 0;
            }
        }
    }
}

.switch {
    position: relative;
    @extend %SwitchType01;
}
