@charset "utf-8";

body {
	min-width: 1390px;
	margin: 0;
	font-family: "Pretendard", -apple-system, "Malgun Gothic", "AppleGothicNeoSD", "Apple SD 산돌고딕 Neo", "Droid sans", "dotum", "돋움", sans-serif;
	@include font(16);
	@include themeColor(color, color01);
	-webkit-text-size-adjust: none;
	font-weight: 400;

	&.overflow-hidden {
		overflow: hidden;
	}
}

ul,
ol,
li {
	list-style: none;
}

input[type="checkbox"],
input[type="radio"] {
	@include blind();
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: "Pretendard", -apple-system, "Malgun Gothic", "AppleGothicNeoSD", "Apple SD 산돌고딕 Neo", "Droid sans", "dotum", "돋움", sans-serif;
	@include font(16);
	@include themeColor(color, color01);
	word-break: keep-all;
	resize: none;
	border: 0;
	padding: 0;

	&:focus,
	&:focus-visible {
		outline: none;
	}
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
	color: transparent;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-family: inherit;
	cursor: pointer;
	@include themeColor(color, color01);
	@include font(16);
}

a {
	display: block;
	text-decoration: none;
	@include themeColor(color, color01);
}

input,
select,
textarea,
button,
a,
label {
	-webkit-tap-highlight-color: rgba(0,  0, 0, 0);
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 10px;
	height: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border: 2px solid #fff;
	border-radius: 5px;
	background-color: #bbb;
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

.blind {
	@include blind();
}

.ly-wrap {
	min-height: 100%;
    display: flex;
    flex-direction: column;
}

.ly-header {
	position: relative;
	z-index: 100;
	@include themeColor(background-color, color00);
	box-shadow: 0 49px 30.6px -28px rgba(0, 0, 0, .06);

	.header-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1400px;
		width: calc(100% - 40px);
		margin-right: auto;
		margin-left: auto;
		height: 100px;
	}

	.logo {
		width: 209px;
		height: 100px;
		@include funcImage("../images/logo-compashub.png");
		background-size: 100%;
		background-position: center;
		font-size: 0;
	}

	.nav {
		display: flex;
		justify-content: center;
		@include font(22);
		font-weight: 700;
	}

	.nav-item {
		padding: 0 43px;

		& a {
			position: relative;
			display: flex;
			align-items: center;
			height: 100px;

			&::after {
				content: "";
				position: absolute;
				width: 100%;
				transform: scaleX(0);
				transform-origin: right;
				transition: transform .3s linear;
				height: .2rem;
				bottom: 0;
				left: 0;
				background-color: currentColor;
				will-change: transform;
			}

			&:hover {
				@include themeColor(color, color02);

				&::after {
					transform: scaleX(1);
					transform-origin: left;
					@include themeColor(background-color, color02);
				}
			}
		}
	}

	.util-wrap {
		display: flex;
		align-items: center;
		margin-left: auto;
	}

	.link-logo {
		width: 147px;
		height: 26px;
		@include funcImage("../images/logo-compas.png");
		background-size: 100%;
		font-size: 0;
	}

	.search-input-box {
		position: relative;
		width: 200px;
		height: 40px;
		margin-left: 52px;
		@include themeColor(background-color, color04);
		border-radius: 20px;

		.input-search {
			width: 100%;
			height: 100%;
			padding: 0 16px;
			background-color: transparent;
			box-sizing: border-box;
		}

		.btn-search {
			position: absolute;
			top: 50%;
			right: 16px;
			width: 24px;
			height: 24px;
			@include funcImage("../images/icon-search.png");
			background-size: 100%;
			font-size: 0;
			transform: translateY(-50%);
		}
	}

	.login-box {
		display: flex;
		align-items: center;
	}

	.user-info {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-left: 20px;
	}

	.user-img {
		display: inline-block;
		width: 33px;
		height: 33px;
	}

	.user-name {
		margin-left: 10px;
		font-size: 17px;
		@include themeColor(color, color05);
	}

	.btn {
		margin-left: 20px;

		&.login {
			font-size: 17px;
			@include themeColor(color, color05);
		}

		&.join {
			font-size: 17px;
			@include themeColor(color, color05);
		}

		&.logout {
			width: 24px;
			height: 24px;
			@include funcImage("../images/icon-logout.png");
			background-size: 100%;
			font-size: 0;
		}
	}
}

.ly-container {
	position: relative;
    flex-grow: 1;
	min-height: calc(100vh - 225px);
}

.ly-footer {
	border-top: 1px solid;
	@include themeColor(border-color, color06);
	background-color: #fbfbfb;

	.footer-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		max-width: 1400px;
		height: 124px;
		margin: 0 auto;
	}

	.util-menu {
		display: flex;
		flex-wrap: wrap;

		a {
			position: relative;
			@include font(16);
			font-weight: 600;

			&+a {
				margin-left: 10px;
				padding-left: 10px;

				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 0;
					width: 1px;
					height: 14px;
					@include themeColor(background-color, color07);
					transform: translateY(-50%);
				}
			}
		}
	}

	address {
		margin-top: 10px;
		font-style: normal;

		p {
			@include font(14);
			@include themeColor(color, color07);
		}
	}

	.footer-familysite {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		margin-left: auto;

		.btn {
			margin: 0 14px;
			font-size: 0;
			background-size: 100%;

			&.lh {
				width: 118px;
				height: 43px;
				@include funcImage("../images/logo-lh.png");
			}

			&.compas {
				width: 154px;
				height: 27px;
				@include funcImage("../images/logo-compas.png");
			}
		}
	}
}

.main {
	position: relative;
}

.section {
	position: relative;

	&.intro {

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 10%;
			height: 447px;
			@include funcImage("../images/bg-main-v1-left.png");
			background-size: contain;
		}

		&::after {
			content: "";
			position: absolute;
			top: -100px;
			right: 0;
			z-index: -1;
			width: 65%;
			height: 639px;
			@include funcImage("../images/bg-main-v1-right.png");
			background-size: contain;
			background-position: right top;
		}
	}

	&.analysis {
		margin-top: 140px;

		.section-contents {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 93px;
				left: 0;
				z-index: -1;
				width: 65%;
				height: 517px;
				@include funcImage("../images/img-main-v2-01.png");
				background-size: contain;
				background-position: left top;
			}
		}
	}

	&.dashboard {
		max-width: 1400px;
		width: calc(100% - 40px);
		margin: auto;
	}

	&.data {
		max-width: 1400px;
		width: calc(100% - 40px);
		margin: auto;
	}
}

.section-contents {
	max-width: 1400px;
	width: calc(100% - 40px);
	margin: 0 auto;
}
