@charset "utf-8";

html {
	font-size: 10px;
}

body {
	font-family: "Pretendard", -apple-system, "Malgun Gothic", "AppleGothicNeoSD", "Apple SD 산돌고딕 Neo", "Droid sans", "dotum", "돋움", sans-serif;
	@include font(16);
	@include themeColor(color, color01);
	-webkit-text-size-adjust: none;

	&.overflow-hidden {
		overflow: hidden;
	}
}

ul,
ol,
li {
	list-style: none;
}

input[type="checkbox"],
input[type="radio"] {
	@include blind();
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: "Pretendard", -apple-system, "Malgun Gothic", "AppleGothicNeoSD", "Apple SD 산돌고딕 Neo", "Droid sans", "dotum", "돋움", sans-serif;
	@include font(16);
	@include themeColor(color, color01);
	word-break: keep-all;
	resize: none;
	border: 0;
	padding: 0;

	&:focus,
	&:focus-visible {
		outline: none;
	}
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
	color: transparent;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-family: inherit;
	cursor: pointer;
	@include themeColor(color, color01);
	@include font(16);
}

a {
	display: block;
	text-decoration: none;
	@include themeColor(color, color01);
}

input,
select,
textarea,
button,
a,
label {
	-webkit-tap-highlight-color: rgba(0,  0, 0, 0);
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: .7rem;
	height: .7rem;
	background-color: transparent;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: .4rem;
	background-color: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

.blind {
	@include blind();
}
