<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPAS HUB | 메인</title>
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="../assets/styles/common.css">
</head>

<body>
    <div class="ly-wrap">
        <div class="ly-header">
            <div class="header-inner">
                <h1 class="logo"><a href="#">COMPAS HUB</a></h1>
                <div class="nav">
                    <div class="nav-item">
                        <a href="#">갤러리</a>
                    </div>
                    <div class="nav-item">
                        <a href="#">대시보드</a>
                    </div>
                    <div class="nav-item">
                        <a href="#">지표</a>
                    </div>
                </div>
                <div class="util-wrap">
                    <a href="#" class="link-logo" target="_blank">compas</a>
                    <div class="search-input-box">
                        <input type="search" class="input-search" autocomplete="off">
                        <button class="btn-search">검색</button>
                    </div>
                    <!-- 로그인 -->
                    <div class="login-box" style="display: none;">
                        <span class="user-info">
                            <span class="user-img">
                                <img src="../assets/images/icon-user.png" alt="사용자 기본이미지">
                            </span>
                            <span class="user-name">홍길동님</span>
                        </span>
                        <button class="btn logout">로그아웃</button>
                    </div>
                    <!-- 로그아웃 -->
                    <div class="login-box" >
                        <a href="#" class="btn login">로그인</a>
                        <a href="#" class="btn join">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ly-container">
            <main class="main">
                <section class="section intro">
                    <div class="section-contents">
                        <h2 class="section-title"><span class="logo-compashub">COMPAS HUB</span></h2>
                        <p class="section-description">COMPAS-Hub는 도시문제 해결의 방향성을 제시하기 위하여<br>
                            다양한 분석 모델, 솔루션을 제공하고, 참여자들 간의 협력을 통하여<br>
                            더 나은 해결책을 찾을 수 있는 개방형 데이터 분석 Hub 입니다.
                        </p>
                        <dl class="company-involve">
                            <dt><span class="logo-compashub">COMPAS HUB</span>에는 누가 참여하고 있나요?</dt>
                            <dd>
                                <strong>도시정책 연구자</strong>
                                <p>도시문제 해결방안에 다양한<br>분석사례를 참고해 보세요.</p>
                            </dd>
                            <dd>
                                <strong>데이터 전문 분석가</strong>
                                <p>다양한 데이터와 분석 모델을<br>공유하고, 전문적인 분석 토론을<br>할 수 있습니다.</p>
                            </dd>
                            <dd>
                                <strong>연구원 및 학생</strong>
                                <p>Compas 경진대회와 시각화<br>솔루션을 통해 분석 모델을<br>학습하고 발전시켜 보세요.</p>
                            </dd>
                        </dl>
                    </div>
                </section>
                <section class="section analysis">
                    <div class="section-contents">
                        <div class="section-contents-inner">
                            <h2 class="section-title"><span class="logo-compashub">COMPAS HUB</span>의 도시문제 해결<br>분석 모델을 살펴보세요.</h2>
                            <p class="section-description">변화하는 스마트 도시에 필요한 행정, 교통, 인구 등 다양한 주제에 대한<br>분석 모델을 살펴볼 수 있습니다.</p>
                            <a href="#" class="btn-more">자세히 보기</a>
                            <ul class="analysis-list">
                                <li class="analysis-item">
                                    <a href="#">
                                        <span class="img">
                                            <img src="../assets/images/@img-sample1.png" alt="최근 분석1">
                                        </span>
                                        <span class="img-title">최근 분석1</span>
                                    </a>
                                </li>
                                <li class="analysis-item">
                                    <a href="#">
                                        <span class="img">
                                            <img src="../assets/images/@img-sample1.png" alt="최근 분석2">
                                        </span>
                                        <span class="img-title">최근 분석2</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="section data-visual">
                    <div class="section-contents">
                        <h2 class="section-title"><span class="logo-compashub">COMPAS HUB</span>를 통해<br>데이터 시각화에 도전해 보세요.</h2>
                        <p class="section-description">COMPAS-Hub는 분석주제, 데이터 그리고 다양한 위젯을 사용해<br>시각화 대시보드를 만들어 서로 공유하며 토론할 수 있는 플랫폼 입니다.</p>
                        <ul class="data-visual-list">
                            <li class="data-visual-item">
                                <strong class="data-visual-num">356k</strong>
                                <p class="data-visual-title">DATASETS</p>
                            </li>
                            <li class="data-visual-item">
                                <strong class="data-visual-num">1.1k</strong>
                                <p class="data-visual-title">DASHBOARDS</p>
                            </li>
                            <li class="data-visual-item">
                                <strong class="data-visual-num">6,000</strong>
                                <p class="data-visual-title">TOPICS</p>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="section dashboard">
                    <div class="title-wrap">
                        <h2 class="section-title">대시보드<em>(24)</em></h2>
                        <a href="#" class="btn-more">자세히 보기</a>
                    </div>
                    <p class="section-description">도시문제 해결에 도움을 준 분석 결과 및 확산과제 결과를 직접 시각화 해보세요</p>
                    <ul class="dashboard-list">
                        <li class="dashboard-item">
                            <a href="#">
                                <span class="img"><img src="../assets/images/@img-sample1.png" alt="화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델"></span>
                            </a>
                            <div class="content">
                                <span class="label ty1">재난/안전</span>
                                <span class="num">9,999</span>
                                <a href="#" class="title">화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델</a>
                            </div>
                        </li>
                        <li class="dashboard-item">
                            <a href="#">
                                <span class="img"><img src="../assets/images/@img-sample1.png" alt="화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델"></span>
                            </a>
                            <div class="content">
                                <span class="label ty1">재난/안전</span>
                                <span class="num">9,999</span>
                                <a href="#" class="title">화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델</a>
                            </div>
                        </li>
                        <li class="dashboard-item">
                            <a href="#">
                                <span class="img"><img src="../assets/images/@img-sample1.png" alt="화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델"></span>
                            </a>
                            <div class="content">
                                <span class="label ty1">재난/안전</span>
                                <span class="num">9,999</span>
                                <a href="#" class="title">화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델</a>
                            </div>
                        </li>
                        <li class="dashboard-item">
                            <a href="#">
                                <span class="img"><img src="../assets/images/@img-sample1.png" alt="화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델"></span>
                            </a>
                            <div class="content">
                                <span class="label ty1">재난/안전</span>
                                <span class="num">9,999</span>
                                <a href="#" class="title">화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델</a>
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="section data">
                    <div class="title-wrap">
                        <h2 class="section-title">데이터<em>(24)</em></h2>
                        <a href="#" class="btn-more">자세히 보기</a>
                    </div>
                    <p class="section-description">100개 이상의 도시문제 분석관련 데이터셋</p>
                    <ul class="data-list">
                        <li class="data-item">
                            <strong class="data-title">도시계획</strong>
                            <dl>
                                <dt><a href="#">세종시_건축물대장_층별개요세종시_건축물대장_층별개요</a></dt>
                                <dd>레코드수 : 13,790</dd>
                                <dd>등록일자 : 2024-06-19</dd>
                            </dl>
                            <div class="data-util">
                                <span class="view-num">9,9999</span>
                                <span class="download-num">9,9999</span>
                                <span class="badge public">공개</span>
                            </div>
                        </li>
                        <li class="data-item">
                            <strong class="data-title">도시계획</strong>
                            <dl>
                                <dt><a href="#">세종시_건축물대장_층별개요세종시_건축물대장_층별개요</a></dt>
                                <dd>레코드수 : 13,790</dd>
                                <dd>등록일자 : 2024-06-19</dd>
                            </dl>
                            <div class="data-util">
                                <span class="view-num">9,9999</span>
                                <span class="download-num">9,9999</span>
                                <span class="badge public">공개</span>
                            </div>
                        </li>
                        <li class="data-item">
                            <strong class="data-title">도시계획</strong>
                            <dl>
                                <dt><a href="#">세종시_건축물대장_층별개요세종시_건축물대장_층별개요</a></dt>
                                <dd>레코드수 : 13,790</dd>
                                <dd>등록일자 : 2024-06-19</dd>
                            </dl>
                            <div class="data-util">
                                <span class="view-num">9,9999</span>
                                <span class="download-num">9,9999</span>
                                <span class="badge public">공개</span>
                            </div>
                        </li>
                        <li class="data-item">
                            <strong class="data-title">도시계획</strong>
                            <dl>
                                <dt><a href="#">세종시_건축물대장_층별개요세종시_건축물대장_층별개요</a></dt>
                                <dd>레코드수 : 13,790</dd>
                                <dd>등록일자 : 2024-06-19</dd>
                            </dl>
                            <div class="data-util">
                                <span class="view-num">9,9999</span>
                                <span class="download-num">9,9999</span>
                                <span class="badge public">공개</span>
                            </div>
                        </li>
                    </ul>
                </section>
            </main>
        </div>
        <div class="ly-footer">
            <div class="footer-inner">
                <div class="footer-contents">
                    <div class="util-menu">
                        <a href="#">LH소개</a>
                        <a href="#">이용약관</a>
                        <a href="#">개인정보보호정책</a>
                    </div>
                    <address>
                        <p>(우) 52852 경상남도 진주시 충의로 19(충무공동) 한국토지주택공사</p>
                        <p>HelpDesk :070-4855-2071 (운영시간 : 평일 09:00 ~ 18:00) Tel :055-922-3664 Fax :055-922-6479</p>
                    </address>
                </div>
                <div class="footer-familysite">
                    <a href="#" class="btn lh">LH 한국토지주택공사</a>
                    <a href="#" class="btn compas">COMPAS</a>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/scripts/lib/jquery.js"></script>
    <script src="../assets/scripts/common.js"></script>
</body>

</html>