<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPAS HUB | 분석</title>
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="../assets/styles/common.css">
</head>

<body>
    <div class="ly-wrap">
        <div class="ly-header">
            <div class="header-inner">
                <h1 class="logo"><a href="#">COMPAS HUB</a></h1>
                <div class="nav">
                    <div class="nav-item">
                        <a href="#">갤러리</a>
                    </div>
                    <div class="nav-item">
                        <a href="#">대시보드</a>
                    </div>
                    <div class="nav-item">
                        <a href="#">지표</a>
                    </div>
                </div>
                <div class="util-wrap">
                    <a href="#" class="link-logo" target="_blank">compas</a>
                    <div class="search-input-box">
                        <input type="search" class="input-search" autocomplete="off">
                        <button class="btn-search">검색</button>
                    </div>
                    <!-- 로그인 -->
                    <div class="login-box" style="display: none;">
                        <span class="user-info">
                            <span class="user-img">
                                <img src="../assets/images/icon-user.png" alt="사용자 기본이미지">
                            </span>
                            <span class="user-name">홍길동님</span>
                        </span>
                        <button class="btn logout">로그아웃</button>
                    </div>
                    <!-- 로그아웃 -->
                    <div class="login-box" >
                        <a href="#" class="btn login">로그인</a>
                        <a href="#" class="btn join">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ly-container">
            <div class="page ty1">
                <div class="sub-visual">
                    <h2 class="sub-title">분석</h2>
                    <p class="description">다양한 도시문제에 대한 분석모델을 제시합니다.<br>COMPAS-Hub의 분석모델을 확장하여<br>더 나은 솔루션을 제공할 수 있습니다.</p>
                </div>
                <!-- 분석 -->
                <div class="section analysis-board">
                    <div class="title-wrap">
                        <h2 class="section-title">분석<em>(24)</em></h2>
                        <a href="#" class="btn-more">자세히 보기</a>
                    </div>
                    <ul class="dashboard-list">
                        <li class="dashboard-item">
                            <a href="#">
                                <span class="img"><img src="../assets/images/@img-sample1.png" alt="화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델"></span>
                            </a>
                            <div class="content">
                                <a href="#" class="title">화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델</a>
                                <p class="description">도시 내 화재 발생 위험도 예측으로 화재로 인한 인명및 재산 피해 최소화 </p>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                </div>
                            </div>
                        </li>
                        <li class="dashboard-item">
                            <a href="#">
                                <span class="img"><img src="../assets/images/@img-sample1.png" alt="화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델"></span>
                            </a>
                            <div class="content">
                                <a href="#" class="title">화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델</a>
                                <p class="description">도시 내 화재 발생 위험도 예측으로 화재로 인한 인명및 재산 피해 최소화 </p>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                </div>
                            </div>
                        </li>
                        <li class="dashboard-item">
                            <a href="#">
                                <span class="img"><img src="../assets/images/@img-sample1.png" alt="화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델"></span>
                            </a>
                            <div class="content">
                                <a href="#" class="title">화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델</a>
                                <p class="description">도시 내 화재 발생 위험도 예측으로 화재로 인한 인명및 재산 피해 최소화 </p>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                </div>
                            </div>
                        </li>
                        <li class="dashboard-item">
                            <a href="#">
                                <span class="img"><img src="../assets/images/@img-sample1.png" alt="화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델"></span>
                            </a>
                            <div class="content">
                                <a href="#" class="title">화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델</a>
                                <p class="description">도시 내 화재 발생 위험도 예측으로 화재로 인한 인명및 재산 피해 최소화 </p>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                </div>
                            </div>
                        </li>
                        <li class="dashboard-item">
                            <a href="#">
                                <span class="img"><img src="../assets/images/@img-sample1.png" alt="화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델"></span>
                            </a>
                            <div class="content">
                                <a href="#" class="title">화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델</a>
                                <p class="description">도시 내 화재 발생 위험도 예측으로 화재로 인한 인명및 재산 피해 최소화 </p>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                </div>
                            </div>
                        </li>
                        <li class="dashboard-item">
                            <a href="#">
                                <span class="img"><img src="../assets/images/@img-sample1.png" alt="화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델"></span>
                            </a>
                            <div class="content">
                                <a href="#" class="title">화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델</a>
                                <p class="description">도시 내 화재 발생 위험도 예측으로 화재로 인한 인명및 재산 피해 최소화 </p>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                </div>
                            </div>
                        </li>
                        <li class="dashboard-item">
                            <a href="#">
                                <span class="img"><img src="../assets/images/@img-sample1.png" alt="화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델"></span>
                            </a>
                            <div class="content">
                                <a href="#" class="title">화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델</a>
                                <p class="description">도시 내 화재 발생 위험도 예측으로 화재로 인한 인명및 재산 피해 최소화 </p>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                </div>
                            </div>
                        </li>
                        <li class="dashboard-item">
                            <a href="#">
                                <span class="img"><img src="../assets/images/@img-sample1.png" alt="화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델"></span>
                            </a>
                            <div class="content">
                                <a href="#" class="title">화재발생 예측지점 도출 모델 화재발생 예측지점 도출 모델</a>
                                <p class="description">도시 내 화재 발생 위험도 예측으로 화재로 인한 인명및 재산 피해 최소화 </p>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <button class="btn-list-more">
                        <span>더보기</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="ly-footer">
            <div class="footer-inner">
                <div class="footer-contents">
                    <div class="util-menu">
                        <a href="#">LH소개</a>
                        <a href="#">이용약관</a>
                        <a href="#">개인정보보호정책</a>
                    </div>
                    <address>
                        <p>(우) 52852 경상남도 진주시 충의로 19(충무공동) 한국토지주택공사</p>
                        <p>HelpDesk :070-4855-2071 (운영시간 : 평일 09:00 ~ 18:00) Tel :055-922-3664 Fax :055-922-6479</p>
                    </address>
                </div>
                <div class="footer-familysite">
                    <a href="#" class="btn lh">LH 한국토지주택공사</a>
                    <a href="#" class="btn compas">COMPAS</a>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/scripts/lib/jquery.js"></script>
    <script src="../assets/scripts/common.js"></script>
</body>

</html>