<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPAS HUB | 데이터</title>
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="../assets/styles/common.css">
</head>

<body>
    <div class="ly-wrap">
        <div class="ly-header">
            <div class="header-inner">
                <h1 class="logo"><a href="#">COMPAS HUB</a></h1>
                <div class="nav">
                    <div class="nav-item">
                        <a href="#">갤러리</a>
                    </div>
                    <div class="nav-item">
                        <a href="#">대시보드</a>
                    </div>
                    <div class="nav-item">
                        <a href="#">지표</a>
                    </div>
                </div>
                <div class="util-wrap">
                    <a href="#" class="link-logo" target="_blank">compas</a>
                    <div class="search-input-box">
                        <input type="search" class="input-search" autocomplete="off">
                        <button class="btn-search">검색</button>
                    </div>
                    <!-- 로그인 -->
                    <div class="login-box" style="display: none;">
                        <span class="user-info">
                            <span class="user-img">
                                <img src="../assets/images/icon-user.png" alt="사용자 기본이미지">
                            </span>
                            <span class="user-name">홍길동님</span>
                        </span>
                        <button class="btn logout">로그아웃</button>
                    </div>
                    <!-- 로그아웃 -->
                    <div class="login-box" >
                        <a href="#" class="btn login">로그인</a>
                        <a href="#" class="btn join">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ly-container">
            <div class="page ty3">
                <div class="sub-visual">
                    <h2 class="sub-title">데이터</h2>
                    <p class="description">COMPAS-Hub 에서는 다양한 데이터를 제공합니다.<br>제공된 데이터를 활용하여<br>분석과 대시보드에 적용할 수 있습니다.</p>
                </div>
                <!-- 인구 -->
                <div class="section data">
                    <div class="title-wrap">
                        <h2 class="section-title">인구<em>(24)</em></h2>
                        <a href="#" class="btn-more">자세히 보기</a>
                    </div>
                    <ul class="data-list">
                        <li class="data-item">
                            <strong class="data-title ty1">도시계획</strong>
                            <dl>
                                <dt><a href="#">세종시_건축물대장_층별개요세종시_건축물대장_층별개요</a></dt>
                                <dd>레코드수 : 13,790</dd>
                                <dd>등록일자 : 2024-06-19</dd>
                            </dl>
                            <div class="data-util">
                                <span class="view-num">9,9999</span>
                                <span class="download-num">9,9999</span>
                                <span class="badge public">공개</span>
                            </div>
                        </li>
                        <li class="data-item">
                            <strong class="data-title ty2">인구</strong>
                            <dl>
                                <dt><a href="#">세종시_건축물대장_층별개요세종시_건축물대장_층별개요</a></dt>
                                <dd>레코드수 : 13,790</dd>
                                <dd>등록일자 : 2024-06-19</dd>
                            </dl>
                            <div class="data-util">
                                <span class="view-num">9,9999</span>
                                <span class="download-num">9,9999</span>
                                <span class="badge private">비공개</span>
                            </div>
                        </li>
                        <li class="data-item">
                            <strong class="data-title ty3">안전</strong>
                            <dl>
                                <dt><a href="#">세종시_건축물대장_층별개요세종시_건축물대장_층별개요</a></dt>
                                <dd>레코드수 : 13,790</dd>
                                <dd>등록일자 : 2024-06-19</dd>
                            </dl>
                            <div class="data-util">
                                <span class="view-num">9,9999</span>
                                <span class="download-num">9,9999</span>
                                <span class="badge public">공개</span>
                            </div>
                        </li>
                        <li class="data-item">
                            <strong class="data-title ty4">교통</strong>
                            <dl>
                                <dt><a href="#">세종시_건축물대장_층별개요세종시_건축물대장_층별개요</a></dt>
                                <dd>레코드수 : 13,790</dd>
                                <dd>등록일자 : 2024-06-19</dd>
                            </dl>
                            <div class="data-util">
                                <span class="view-num">9,9999</span>
                                <span class="download-num">9,9999</span>
                                <span class="badge public">공개</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 교통 -->
                <div class="section data">
                    <div class="title-wrap">
                        <h2 class="section-title">교통<em>(24)</em></h2>
                        <a href="#" class="btn-more">자세히 보기</a>
                    </div>
                    <ul class="data-list">
                        <li class="data-item">
                            <strong class="data-title ty1">도시계획</strong>
                            <dl>
                                <dt><a href="#">세종시_건축물대장_층별개요세종시_건축물대장_층별개요</a></dt>
                                <dd>레코드수 : 13,790</dd>
                                <dd>등록일자 : 2024-06-19</dd>
                            </dl>
                            <div class="data-util">
                                <span class="view-num">9,9999</span>
                                <span class="download-num">9,9999</span>
                                <span class="badge public">공개</span>
                            </div>
                        </li>
                        <li class="data-item">
                            <strong class="data-title ty2">인구</strong>
                            <dl>
                                <dt><a href="#">세종시_건축물대장_층별개요세종시_건축물대장_층별개요</a></dt>
                                <dd>레코드수 : 13,790</dd>
                                <dd>등록일자 : 2024-06-19</dd>
                            </dl>
                            <div class="data-util">
                                <span class="view-num">9,9999</span>
                                <span class="download-num">9,9999</span>
                                <span class="badge private">비공개</span>
                            </div>
                        </li>
                        <li class="data-item">
                            <strong class="data-title ty3">안전</strong>
                            <dl>
                                <dt><a href="#">세종시_건축물대장_층별개요세종시_건축물대장_층별개요</a></dt>
                                <dd>레코드수 : 13,790</dd>
                                <dd>등록일자 : 2024-06-19</dd>
                            </dl>
                            <div class="data-util">
                                <span class="view-num">9,9999</span>
                                <span class="download-num">9,9999</span>
                                <span class="badge public">공개</span>
                            </div>
                        </li>
                        <li class="data-item">
                            <strong class="data-title ty4">교통</strong>
                            <dl>
                                <dt><a href="#">세종시_건축물대장_층별개요세종시_건축물대장_층별개요</a></dt>
                                <dd>레코드수 : 13,790</dd>
                                <dd>등록일자 : 2024-06-19</dd>
                            </dl>
                            <div class="data-util">
                                <span class="view-num">9,9999</span>
                                <span class="download-num">9,9999</span>
                                <span class="badge public">공개</span>
                            </div>
                        </li>
                    </ul>
                    <button class="btn-list-more">
                        <span>더보기</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="ly-footer">
            <div class="footer-inner">
                <div class="footer-contents">
                    <div class="util-menu">
                        <a href="#">LH소개</a>
                        <a href="#">이용약관</a>
                        <a href="#">개인정보보호정책</a>
                    </div>
                    <address>
                        <p>(우) 52852 경상남도 진주시 충의로 19(충무공동) 한국토지주택공사</p>
                        <p>HelpDesk :070-4855-2071 (운영시간 : 평일 09:00 ~ 18:00) Tel :055-922-3664 Fax :055-922-6479</p>
                    </address>
                </div>
                <div class="footer-familysite">
                    <a href="#" class="btn lh">LH 한국토지주택공사</a>
                    <a href="#" class="btn compas">COMPAS</a>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/scripts/lib/jquery.js"></script>
    <script src="../assets/scripts/common.js"></script>
</body>

</html>