<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPAS HUB | 지표</title>
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="../assets/styles/common.css">
</head>

<body>
    <div class="ly-wrap">
        <div class="ly-header">
            <div class="header-inner">
                <h1 class="logo"><a href="#">COMPAS HUB</a></h1>
                <div class="nav">
                    <div class="nav-item">
                        <a href="#">갤러리</a>
                    </div>
                    <div class="nav-item">
                        <a href="#">대시보드</a>
                    </div>
                    <div class="nav-item">
                        <a href="#">지표</a>
                    </div>
                </div>
                <div class="util-wrap">
                    <a href="#" class="link-logo" target="_blank">compas</a>
                    <div class="search-input-box">
                        <input type="search" class="input-search" autocomplete="off">
                        <button class="btn-search">검색</button>
                    </div>
                    <!-- 로그인 -->
                    <div class="login-box" style="display: none;">
                        <span class="user-info">
                            <span class="user-img">
                                <img src="../assets/images/icon-user.png" alt="사용자 기본이미지">
                            </span>
                            <span class="user-name">홍길동님</span>
                        </span>
                        <button class="btn logout">로그아웃</button>
                    </div>
                    <!-- 로그아웃 -->
                    <div class="login-box" >
                        <a href="#" class="btn login">로그인</a>
                        <a href="#" class="btn join">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ly-container">
            <div class="page ty4">
                <div class="sub-visual">
                    <h2 class="sub-title">지표</h2>
                    <p class="description">COMPAS-Hub는 분석주제, 데이터 그리고 다양한<br>위젯을 사용하여 시각화 대시보드를 만들어 서로<br>공유하며 토론할 수 있는 폴랫폼 입니다,<br>주제를 선택하거나 데이터와 다양한 위젯을 사용하여<br>시각화 대시보드를 만들어 서로 공유해 토론해 보세요!</p>
                </div>
                <div class="tab-container">
                    <ul class="nav-tabs">
                        <li class="tab active"><a href="#tab1">전체</a></li>
                        <li class="tab"><a href="#tab2">인구</a></li>
                        <li class="tab"><a href="#tab3">가족</a></li>
                        <li class="tab"><a href="#tab4">건강</a></li>
                        <li class="tab"><a href="#tab5">교육</a></li>
                        <li class="tab"><a href="#tab6">여가</a></li>
                    </ul>
                    <div id="tab1" class="tab-panel active">
                        <!-- 리스트 -->
                        <ul class="data-list">
                            <li class="data-item">
                                <dl>
                                    <dt><a href="#">소비자물가 상승률</a></dt>
                                    <dd>출처 : 한국은행, 국민계정</dd>
                                    <dd>등록일자 : 2024-06-19</dd>
                                </dl>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                    <span class="download-num">9,9999</span>
                                    <span class="badge public">공개</span>
                                </div>
                                <span class="label ty1">인구</span>
                            </li>
                            <li class="data-item">
                                <dl>
                                    <dt><a href="#">소비자물가 상승률</a></dt>
                                    <dd>출처 : 한국은행, 국민계정</dd>
                                    <dd>등록일자 : 2024-06-19</dd>
                                </dl>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                    <span class="download-num">9,9999</span>
                                    <span class="badge public">공개</span>
                                </div>
                                <span class="label ty1">인구</span>
                            </li>
                            <li class="data-item">
                                <dl>
                                    <dt><a href="#">소비자물가 상승률</a></dt>
                                    <dd>출처 : 한국은행, 국민계정</dd>
                                    <dd>등록일자 : 2024-06-19</dd>
                                </dl>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                    <span class="download-num">9,9999</span>
                                    <span class="badge public">공개</span>
                                </div>
                                <span class="label ty1">인구</span>
                            </li>
                            <li class="data-item">
                                <dl>
                                    <dt><a href="#">소비자물가 상승률</a></dt>
                                    <dd>출처 : 한국은행, 국민계정</dd>
                                    <dd>등록일자 : 2024-06-19</dd>
                                </dl>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                    <span class="download-num">9,9999</span>
                                    <span class="badge public">공개</span>
                                </div>
                                <span class="label ty1">인구</span>
                            </li>
                            <li class="data-item">
                                <dl>
                                    <dt><a href="#">소비자물가 상승률</a></dt>
                                    <dd>출처 : 한국은행, 국민계정</dd>
                                    <dd>등록일자 : 2024-06-19</dd>
                                </dl>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                    <span class="download-num">9,9999</span>
                                    <span class="badge public">공개</span>
                                </div>
                                <span class="label ty1">인구</span>
                            </li>
                            <li class="data-item">
                                <dl>
                                    <dt><a href="#">소비자물가 상승률</a></dt>
                                    <dd>출처 : 한국은행, 국민계정</dd>
                                    <dd>등록일자 : 2024-06-19</dd>
                                </dl>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                    <span class="download-num">9,9999</span>
                                    <span class="badge public">공개</span>
                                </div>
                                <span class="label ty1">인구</span>
                            </li>
                            <li class="data-item">
                                <dl>
                                    <dt><a href="#">소비자물가 상승률</a></dt>
                                    <dd>출처 : 한국은행, 국민계정</dd>
                                    <dd>등록일자 : 2024-06-19</dd>
                                </dl>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                    <span class="download-num">9,9999</span>
                                    <span class="badge public">공개</span>
                                </div>
                                <span class="label ty1">인구</span>
                            </li>
                            <li class="data-item">
                                <dl>
                                    <dt><a href="#">소비자물가 상승률</a></dt>
                                    <dd>출처 : 한국은행, 국민계정</dd>
                                    <dd>등록일자 : 2024-06-19</dd>
                                </dl>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                    <span class="download-num">9,9999</span>
                                    <span class="badge public">공개</span>
                                </div>
                                <span class="label ty1">인구</span>
                            </li>
                            <li class="data-item">
                                <dl>
                                    <dt><a href="#">소비자물가 상승률</a></dt>
                                    <dd>출처 : 한국은행, 국민계정</dd>
                                    <dd>등록일자 : 2024-06-19</dd>
                                </dl>
                                <div class="data-util">
                                    <span class="view-num">9,9999</span>
                                    <span class="download-num">9,9999</span>
                                    <span class="badge public">공개</span>
                                </div>
                                <span class="label ty1">인구</span>
                            </li>
                        </ul>
                        <button class="btn-list-more">
                            <span>더보기</span>
                        </button>
                    </div>
                    <div id="tab2" class="tab-panel">
                        인구
                    </div>
                    <div id="tab3" class="tab-panel">
                        가족
                    </div>
                    <div id="tab4" class="tab-panel">
                        건강
                    </div>
                    <div id="tab5" class="tab-panel">
                        교육
                    </div>
                    <div id="tab6" class="tab-panel">
                        여가
                    </div>
                </div>
            </div>
        </div>
        <div class="ly-footer">
            <div class="footer-inner">
                <div class="footer-contents">
                    <div class="util-menu">
                        <a href="#">LH소개</a>
                        <a href="#">이용약관</a>
                        <a href="#">개인정보보호정책</a>
                    </div>
                    <address>
                        <p>(우) 52852 경상남도 진주시 충의로 19(충무공동) 한국토지주택공사</p>
                        <p>HelpDesk :070-4855-2071 (운영시간 : 평일 09:00 ~ 18:00) Tel :055-922-3664 Fax :055-922-6479</p>
                    </address>
                </div>
                <div class="footer-familysite">
                    <a href="#" class="btn lh">LH 한국토지주택공사</a>
                    <a href="#" class="btn compas">COMPAS</a>
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/scripts/lib/jquery.js"></script>
    <script src="../assets/scripts/common.js"></script>
</body>

</html>