@charset "utf-8";

// 웹폰트
// ttf : 애플에서 개발한 글꼴 형식
// eot : iE8 이하브라우저 웹폰트 사용시
// otf : 마이크로소프트 컴퓨터 글꼴 형식
// woff : W3C에서 추천하는 글꼴 형식
// woff2 : WOFF에서 향상된 글꼴
// svg : 벡터방식의 글꼴형식 (IE ,FF 지원안함), TTF에 2배 , WOFF 3배 용량

@mixin font-face($name, $folder, $file, $weight: 400) {
    @font-face {
        font-family: "#{$name}";
        font-weight: $weight;
        font-display: swap;
        src:
            url("../fonts/#{$folder}/#{$file}.woff2") format("woff2"),
            url("../fonts/#{$folder}/#{$file}.woff") format("woff");
    }
}

@include font-face("Pretendard", "Pretendard", "Pretendard-Thin", 100);
@include font-face("Pretendard", "Pretendard", "Pretendard-Light", 300);
@include font-face("Pretendard", "Pretendard", "Pretendard-Regular", 400);
@include font-face("Pretendard", "Pretendard", "Pretendard-Medium", 500);
@include font-face("Pretendard", "Pretendard", "Pretendard-SemiBold", 600);
@include font-face("Pretendard", "Pretendard", "Pretendard-Bold", 700);
@include font-face("Pretendard", "Pretendard", "Pretendard-Black", 900);
