@charset "utf-8";

body {
    overflow-y: hidden;
    min-width: 1500px;
    font-family: "Pretendard", -apple-system, "Malgun Gothic", "AppleGothicNeoSD", "Apple SD 산돌고딕 Neo", "Droid sans", "dotum", "돋움", sans-serif;
    @include font(14);
}

ul,
ol,
li {
	list-style: none;
}

input[type="checkbox"],
input[type="radio"] {
	@include blind();
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="text"],
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: "Pretendard", -apple-system, "Malgun Gothic", "AppleGothicNeoSD", "Apple SD 산돌고딕 Neo", "Droid sans", "dotum", "돋움", sans-serif;
	word-break: keep-all;
	resize: none;
	border: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-family: inherit;
	cursor: pointer;
}

a {
	display: block;
	text-decoration: none;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 4px;
	height: 4px;
	background-color: transparent;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	@include color(background-color, co1);
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

.blind {
	@include blind();
}

.ly-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 55px;
    @include color(background-color, bg80);
    padding: 0 24px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;

    h1 {
        width: 130px;
        height: 55px;
        @include bgImg("/assets/images/logo.png", "/assets/images/logo.png","/assets/images/logo.png","/assets/images/logo-themeLight.png");
        background-size: contain;
        background-position: center;
        font-size: 0;
    }

    .header-title {
        flex: 1;
        margin-left: 20px;
        @include font(19);
        @include color(color, co8);
        @include textOverflowLine(1);

        &>.icon-file-text {
            margin-right: 4px;
            @include color(color, co1);
            @include font(20);
        }
    }

    .header-util {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 10px;

        .btn {
            display: inline-flex;
            align-items: center;
            height: 36px;
            padding: 0 20px 0 34px;
            @include font(12);
            @include color(color, co8);
            font-weight: 600;
            border-radius: 4px;

            &+.btn {
                margin-left: 5px;
            }

            &.save {
                @include color(background-color, bg00);
                @include bgImg("/assets/images/theme1/save-apture.png", "/assets/images/theme2/save-apture.png","/assets/images/theme3/save-apture.png","/assets/images/theme4/save-apture.png");
                background-size: 14px;
                background-position: left 15px center;
            }

            &.dashboard {
                @include color(background-color, bg00);
                @include bgImg("/assets/images/theme1/list.png","/assets/images/theme2/list.png","/assets/images/theme3/list.png","/assets/images/theme4/list.png");
                background-size: 14px;
                background-position: left 15px center;
            }

            &.widget {
                @include color(background-color, co1);
                @include bgImg("/assets/images/theme1/widget.png", "/assets/images/theme2/widget.png","/assets/images/theme3/widget.png","/assets/images/theme4/widget.png");
                background-size: 14px;
                background-position: left 15px center;
                color: #fff !important;
            }

            &.login,
            &.logout {
                padding: 0;
            }

            & i {
                margin-right: 10px;
                font-size: 20px;
            }
        }

        .user-info {
            margin: 0 20px;
            @include font(12);
            font-weight: 600;
            @include color(color, co8);
            @include textOverflowLine(1);
        }
    }

    .chart-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex: 1;

        .btn {
            display: inline-flex;
            align-items: center;

            &:hover *,
            &.is-active * {
                @include color(color, co2);
            }

            &+.btn {
                margin-left: 24px;
            }

            & i {
                margin-right: 4px;
                font-size: 20px;
                @include color(color, co8);

                &.icon-bubble {
                    width: 20px;
                    height: 20px;
                    @include bgImg("/assets/images/bubble.png", "/assets/images/bubble.png","/assets/images/bubble.png","/assets/images/bubble.png");
                    background-size: contain;
                }
            }

            & span {
                @include font(14);
                @include color(color, co8);
                font-weight: 600;
            }
        }
    }
}

.ly-container {
    display: grid;
    grid-template-columns: 65px 1fr;
    min-height: calc(100vh - 55px);
}

.leftmenu {
    position: relative;
    width: 50px;
    min-height: calc(100vh - 55px);
    @include color(background-color, bg50);
    z-index: 100;

    .leftmenu-item {

        &.is-active {

            &>.btn-toggle {

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -5px;
                    width: 45px;
                    height: 45px;
                    @include color(background-color, bg70);
                    border-radius: 10px 0 0 10px;
                }

                // &>span {

                //     &::before {
                //         content: "";
                //         position: absolute;
                //         top: -20px;
                //         right: -5px;
                //         width: 21px;
                //         height: 21px;
                //         background-image: url("/assets/images/design1.png");
                //         background-repeat: no-repeat;
                //     }
    
                //     &::after {
                //         content: "";
                //         position: absolute;
                //         bottom: -20px;
                //         right: -5px;
                //         width: 21px;
                //         height: 21px;
                //         background-image: url("/assets/images/design2.png");
                //         background-repeat: no-repeat;
                //     }
                // }

                &.data-list {

                    &::after {
                        @include bgImg("/assets/images/theme1/leftmenu1-on.png", "/assets/images/theme2/leftmenu1-on.png","/assets/images/theme3/leftmenu1-on.png","/assets/images/theme4/leftmenu1-on.png");
                    }
                    
                }

                &.data-theme {

                    &::after {
                        @include bgImg("/assets/images/theme1/leftmenu2-on.png", "/assets/images/theme2/leftmenu2-on.png","/assets/images/theme3/leftmenu2-on.png","/assets/images/theme4/leftmenu2-on.png");
                    }
                }
            }

            .toggle-content {
                display: block;
            }
        }

        &>.btn-toggle {
            position: relative;
            width: 45px;
            height: 45px;
            background-size: 22px;
            background-position: center;
            font-size: 0;

            &::after {
                content: "";
                width: 22px;
                height: 22px;
                position: absolute;
                left: 15px;
            }

            &.data-list {
                margin-top: 100px;

                &::after {
                    top: 50%;
                    transform: translate(0, -50%);
                    @include bgImg("/assets/images/theme1/leftmenu1-off.png", "/assets/images/theme2/leftmenu1-off.png","/assets/images/theme3/leftmenu1-off.png","/assets/images/theme4/leftmenu1-off.png");
                    background-size: 22px 22px;
                }
            }

            &.data-theme {

                &::after {
                    top: 13px;
                    @include bgImg("/assets/images/theme1/leftmenu2-off.png", "/assets/images/theme2/leftmenu2-off.png","/assets/images/theme3/leftmenu2-off.png","/assets/images/theme4/leftmenu2-off.png");
                    background-size: 22px auto;
                }
            }
        }

        .toggle-content {
            display: none;
            overflow-y: auto;
            width: 400px;
            position: absolute;
            top: 0;
            left: 50px;
            z-index: -1;
            height: 100%;
            @include color(background-color, bg70);
            border: 1px solid #000;
            border-width: 0 1px 0 0;
            box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.3);

            .data-list,
            .data-theme {
                padding: 24px 24px 0;
                box-sizing: border-box;
            }
        }
    }

    .data-list-title {
        display: block;
        margin-bottom: 20px;
        @include font(16);
        font-weight: 700;
        @include color(color, co8);
    }

    .data-theme-title {
        display: block;
        margin-bottom: 20px;
        @include font(14);
        font-weight: 700;
        @include color(color, co8);
    }

    // 데이터 목록
    .data-item {
        position: relative;
        padding-top: 40px;
        @include color(background-color, bg90);
        border-radius: 0 0 4px 4px;
        margin-top: 5px;

        &.is-active {

            .data-item-content {
                display: block;
            }

            .data-item-head {

                .btn-toggle {

                    &::before {
                        content: "\e931";
                    }
                }
            }
        }
    }

    .data-item-head {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        border: 1px solid #000;
        border-radius: 4px;
        padding: 0 15px;
        box-sizing: border-box;
        @include color(background-color, bg70);

        .data-item-title {
            font-weight: 600;
            @include font(14);
            @include color(color, co8);
        }

        .data-item-btn {
            display: flex;
            align-items: center;
            margin-left: auto;

            button {
                margin-left: 7px;
            }
        }

        .btn-edit {
            width: 20px;
            height: 20px;

            &::before {
                content: "\e95b";
                font-family: "icomoon";
                font-size: 16px;
                @include color(color, co8);
            }
        }

        .btn-alert {
            width: 20px;
            height: 20px;
            @include bgImg("/assets/images/alert.png", "/assets/images/alert.png", "/assets/images/alert.png", "/assets/images/alert-themeLight.png");
            background-size: 20px;
        }

        .btn-toggle {
            width: 20px;
            height: 20px;
            @include color(background-color, bg90);
            border-radius: 4px;

            &::before {
                content: "\e92e";
                font-family: "icomoon";
                font-size: 16px;
                
                @include color(color, co1);
            }
        }
    }

    .data-item-content {
        display: none;
        padding: 0 20px 28px;
    }

    .data-content-head {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 13px;

        .switch {
            display: flex;
            align-items: center;
        }
    }

    .data-content-title {
        margin-right: auto;
        @include font(12);
        font-weight: 600;
        @include color(color, co8);
    }

    .data-textarea {
        height: 80px;
        margin-top: 5px;
    }

    // 데이터 테마
    .data-theme-list {
        margin-top: 20px;
    }

    .data-theme-head {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 45px;
        padding: 0 20px;
        @include color(background-color, bg40);
        border-top: 1px solid #000;
        border-bottom: 1px dashed #000;
        box-sizing: border-box;

        .data-theme-title {
            margin: 0 auto 0 0;
            @include color(color, co2);
        }
    }

    .data-theme-content {
        padding: 12px 20px;
        @include color(background-color, bg70);

        .form {
            height: 30px;
        }

        .dashboard {
            position: relative;
            display: flex;
            height: 266px;
        }

        .panel {
            overflow: hidden;
            margin: auto;
            width: 230px;
            height: 140px;
            background-color: #000;
            border-radius: 10px;
            border: 1px solid #000;
            box-shadow: 0px 4px 12px 8px rgba(0, 0, 0, 0.2);

            &-head {
                display: flex;
                align-items: center;
                height: 30px;
                padding: 0 15px;
                @include color(background-color, bg80);
                @include color(color, co8);

                .panel-title {
                    display: block;
                    @include font(12);
                    @include color(color, co8);
                    margin-right: auto;
                }
            }
        }

        .panel-content {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 110px;
            padding: 20px;
            box-sizing: border-box;

            img {
                height: 100%;
                object-fit: cover;
            }

            &>span {
                display: flex;
                align-items: center;
                justify-content: center;
                @include color(background-color, bg70);
                border-radius: 6px;

                &+span {
                    margin-left: 8px;
                }
            }
        }

        .option {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .option-position {
            display: flex;
            flex-wrap: wrap;
            position: absolute;

            &.top {
                top: 15px;
                left: 0;
                right: 0;

                .form {

                    &:nth-child(1) {

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -34px;
                            left: 35px;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            @include color(background-color, co7);
                        }

                        label {

                            &::before {
                                content: "";
                                position: absolute;
                                bottom: -32px;
                                left: 10px;
                                width: 1px;
                                height: 36px;
                                @include color(background-color, co7);
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                bottom: -32px;
                                left: 10px;
                                width: 29px;
                                height: 1px;
                                @include color(background-color, co7);
                            }
                        }
                    }

                    &:nth-child(2) {

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -34px;
                            right: 78px;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            @include color(background-color, co7);
                        }

                        label {

                            &::before {
                                content: "";
                                position: absolute;
                                bottom: -32px;
                                right: 80px;
                                width: 1px;
                                height: 36px;
                                @include color(background-color, co7);
                            }
                        }
                    }
                }
            }

            &.bottom {
                bottom: 15px;
                left: 0;
                right: 0;

                .form {

                    &:nth-child(1) {

                        &::after {
                            content: "";
                            position: absolute;
                            top: -34px;
                            left: 35px;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            @include color(background-color, co7);
                        }

                        label {

                            &::before {
                                content: "";
                                position: absolute;
                                top: -32px;
                                left: 10px;
                                width: 1px;
                                height: 36px;
                                @include color(background-color, co7);
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                top: -32px;
                                left: 10px;
                                width: 29px;
                                height: 1px;
                                @include color(background-color, co7);
                            }
                        }
                    }
    
                    &:nth-child(2) {
    
                        &::after {
                            content: "";
                            position: absolute;
                            top: -34px;
                            right: 78px;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            @include color(background-color, co7);
                        }

                        label {

                            &::before {
                                content: "";
                                position: absolute;
                                top: -32px;
                                right: 80px;
                                width: 1px;
                                height: 36px;
                                @include color(background-color, co7);
                            }
                        }
                    }
                }
            }

            .form {
                margin-top: 0;

                label {
                    min-width: unset;
                    margin-right: 10px;
                }

                &+.form {
                    margin-left: auto;
                }

                .color-picker,
                .quantity {
                    max-width: 54px;
                    width: 54px;

                    &.font {
                        margin-right: 4px;
                    }
                }
            }
        }
    }

    .btn-group {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;

        &>button {
            flex: 1;
            height: 36px;
            border: 1px solid;
            border-radius: 4px;
            @include font(12);
            @include color(color, co8);
            box-sizing: border-box;
        }

        .btn-filter {
            border: 1px solid;
            @include color(border-color, co1);

            &>span {
                padding-left: 20px;
                @include bgImg("/assets/images/filter.png", "/assets/images/filter.png", "/assets/images/filter.png", "/assets/images/filter-themeLight.png");
                background-repeat: no-repeat;
                background-position: left center;
            }
        }

        .btn-cancel {
            margin-left: 10px;
            @include color(background-color, bg90);
            @include color(border-color, bg20);
            @include color(color, bg20);
        }
    }
}

.data-column-list {
    overflow-y: auto;
    height: 180px;
    margin-top: 5px;

    li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 30px;
        padding: 0 15px;
        @include color(background-color, bg80);
        border: 1px solid #000;
        border-width: 0 1px 1px;
        border-radius: 4px;
        box-sizing: border-box;

        & * {
            @include color(color, co8);
        }

        &:nth-child(1) {
            border-width: 1px;
        }
    }

    .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center;
        @include color(color, co8);
        background-size: contain;
        font-size: 0;

        &.column-ty1 {
            @include bgImg("/assets/images/date.png", "/assets/images/date.png","/assets/images/date.png","/assets/images/date-themeLight.png");
        }

        &.column-ty2 {
            @include bgImg("/assets/images/number.png", "/assets/images/number.png","/assets/images/number.png","/assets/images/number-themeLight.png");
        }

        &.column-ty3 {
            @include bgImg("/assets/images/string.png", "/assets/images/string.png","/assets/images/string.png","/assets/images/string-themeLight.png");
        }

        &.column-ty4 {
            @include bgImg("/assets/images/content1.png", "/assets/images/content1.png","/assets/images/content1.png","/assets/images/content1-themeLight.png");
        }

        &.column-ty5 {
            @include bgImg("/assets/images/content2.png", "/assets/images/content2.png","/assets/images/content2.png","/assets/images/content2-themeLight.png");
        }

        &.column-ty6 {
            @include bgImg("/assets/images/content3.png", "/assets/images/content3.png","/assets/images/content3.png","/assets/images/content3-themeLight.png");
        }
    }

    .type {
        flex: 0 0 70px;
        margin-left: 10px;
        @include color(color, co8);
        @include font(12);
        font-weight: 600;
        @include textOverflowLine(1);
    }

    .text-en {
        flex: 0 0 70px;
        margin-left: 10px;
        @include color(color, co8);
        @include font(12);
        font-weight: 600;
        @include textOverflowLine(1);
        word-break: break-all;
    }

    .text-ko {
        flex: 1;
        margin-left: 10px;
        @include color(color, co8);
        @include font(12);
        font-weight: 600;
        @include textOverflowLine(1);
    }
}

.gridstack {
    position: relative;
    @include color(background-color, bg90);
    padding: 20px 30px 51px;
    box-sizing: border-box;
}

.panel-container {
    overflow: hidden;
    height: 100%;
    @include color(background-color, bg80);
    border: 1px solid #000;
    border-radius: 6px;

    &.is-active {
        background-color: #111314;
        @include color(border-color, co1);

        .panel-util {

            button {

                & i {
                    @include color(color, co2);
                }
            }
        }

        .panel-content {

            .btn-widget {

                span {
                    @include color(color, co5);
                    @include bgImg("/assets/images/theme1/widget-plus-on.png", "/assets/images/theme2/widget-plus-on.png","/assets/images/theme3/widget-plus-on.png","/assets/images/theme4/widget-plus-on.png");
                }
            }
        }
    }
}

.panel-header {
    position: relative;
    display: flex;
    align-items: center;
    max-height: 50px;
    padding: 16px 20px;
    box-sizing: border-box;
    @include color(background-color, bg70);
    border-bottom: 1px solid #000;
    box-sizing: border-box;

    &.border-0 {
        border-bottom: 0;
    }

    &+.panel-content {
        height: calc(100% - 50px);
    }

    .panel-title {
        margin-right: 10px;
        @include font(14);
        font-weight: 700;
        @include color(color, co8);
        @include textOverflowLine(1);
    }
    
    .btn-title-edit {
    
        & i {
            @include color(color, co2);
            font-size: 16px;
        }
    }

    .panel-right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &~.panel-tabs {
            margin: 0;
        }
    }

    .panel-tabs {
        display: flex;
        margin-left: auto;

        &+.panel-util {
            margin-left: 10px;
        }

        .tab {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: #000;
            margin-left: 8px;

            &.is-active {
                @include color(background-color, co1);
            }
        }
    }

    .panel-util {
        display: flex;
        margin-left: auto;

        &>button {
            margin-left: 10px;

            & i {
                @include color(color, co8);
                font-size: 16px;
            }
        }

        .btn-setting {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;

            &.is-active {
                transform: rotate(180deg);
            }

            .icon-setting {
                display: inline-block;
                width: 14px;
                height: 12px;
                @include bgImg("/assets/images/theme1/setting.png","/assets/images/theme2/setting.png","/assets/images/theme3/setting.png","/assets/images/theme4/setting.png");
                background-position: center;
            }
        }
    }

    .panel-setting {
        overflow: hidden;
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        border-radius: 0 0 6px 6px;
        border: 1px solid #000;
        border-width: 0 1px 1px;

        .btn {
            display: flex;
            align-items: center;
            width: 100%;
            height: 30px;
            padding: 0 15px;
            @include color(color, co8);
            @include font(12);
            @include color(background-color, bg70);
            text-align: left;

            &.is-active {
                @include color(background-color, bg00);
            }

            &+.btn {
                border-top: 1px solid #000;
            }

            & span {
                margin-left: 10px;
            }
        }

        .icon-style {
            display: inline-block;
            width: 14px;
            height: 12px;
            background-image: url("/assets/images/style.png");
            background-repeat: no-repeat;
        }
    }
}

.panel-content {
    position: relative;
    height: 100%;

    .btn-widget {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        span {
            padding-top: 80px;
            @include font(12);
            font-weight: 600;
            @include color(color, co8);
            @include bgImg("/assets/images/theme1/widget-plus-off.png", "/assets/images/theme2/widget-plus-off.png","/assets/images/theme3/widget-plus-off.png","/assets/images/theme4/widget-plus-off.png");
            background-position: center top;
            background-size: 63px;
        }
    }
}

.bottom-sheet {
    overflow-y: hidden;
    position: absolute;
    bottom: 0;
    left: 65px;
    right: 0;
    overflow-x: auto;
    white-space: nowrap;
    width: calc(100% - 65px);
    height: 50px;

    .tabs {
        display: flex;
        align-items: center;
        height: 50px;

        li {
            display: flex;
            align-items: center;
            min-width: 190px;
            height: 50px;   
            padding: 0 14px;
            border: 1px solid;
            border-width: 1px 1px 0;
            border-color: #000;
            @include color(background-color, bg30);
            box-sizing: border-box;
            @include color(color, co8);

            &.is-active {
                @include color(background-color, bg20);
                border-top: 4px solid;
                @include color(border-color, co1);

                & span,
                & .btn-delete {
                    color: #fff;
                }
            }

            & span {
                max-width: 88%;
                @include font(14);
                @include textOverflowLine(1);
                display: block;
            }
        }

        .btn-delete {
            margin-left: auto;
            font-size: 20px;
        }
    }
}

.tree-view {
    @extend %treeview;

    &+.tab-container {
        margin-top: 20px;
    }
}

.tab-container {

    .form {
        border-bottom: 1px dashed #000;
        margin-bottom: 10px;
        padding-bottom: 10px;

        label {
            min-width: 80px;
        }
    }

    .nav-tabs {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        .tab {

            &.is-active {

                &>a {
                    height: 40px;
                    @include color(border-color, co1);
                    background-color: #373b40;
                    @include color(background-color, bg50);
                    @include color(color, co8);
                    font-weight: 600;

                    &::after {
                        content: "\e92b";
                        font-family: "icomoon";
                        margin-left: 10px;
                    }
                }
            }

            &>a {
                display: flex;
                align-items: center;
                height: 35px;
                padding: 0 15px;
                border-top: 3px solid;
                @include color(border-color, bg30);
                border-radius: 6px 6px 0 0;
                @include color(background-color, bg40);
                @include color(color, co8);
                @include font(14);
                box-sizing: border-box;
            }
        }
    }

    .tab-panel  {
        display: none;
        @include color(background-color, bg50);
        padding: 20px;
        border-radius: 0 6px 6px 6px;
        box-sizing: border-box;

        &.is-active {
            display: block;
        }
    }

    .thumb-list {
        padding: 0;
    }
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .btn-prev,
    .btn-next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        font-size: 16px;
        @include color(color, co8);
    }

    .btn {
        width: 35px;
        height: 35px;
        @include color(color, co8);
        border-radius: 50%;
        margin: 0 2px;

        &:hover {
            @include color(background-color, bg00);
        }

        &.current {
            @include color(background-color, co1);
            color: #fff;
        }
    }

    .number-ellipsis {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        @include color(color, co8);

        &::before {
            content: "\e9a4";
            font-family: "icomoon";
        }
    }
}

.table-wrap {
    @extend %table;

    .table-head {
        margin-bottom: 10px;

        p {
            @include font(12);
            font-weight: 600;
            @include color(color, co8);
        }
    }
}

// 위젯 설정
.widget-setting {

    .ly-header {

        .header-util {

            .btn {
                padding: 0 20px;
                @include color(background-color, co1);
                color: #fff !important;

                & i {
                    font-size: 14px;
                }

                &.widget-cancel {
                    @include color(background-color, bg20);
                }
            }
        }
    }

    .ly-container {
        grid-template-columns: 400px 1fr 330px;
    }

    .widget-left {
        overflow-y: auto;
        width: 400px;
        height: calc(100vh - 55px);
        padding: 24px;
        box-sizing: border-box;
        @include color(background-color, bg40);
        z-index: 100;

        .form {

            label {
                min-width: 150px;
            }
        }
    }

    .widget-right {
        overflow-y: auto;
        width: 330px;
        height: calc(100vh - 55px);
        padding: 24px;
        box-sizing: border-box;
        @include color(background-color, bg40);
        z-index: 100;

        .form.flex {
            height: 55px;
            border-bottom: 1px dashed #000;

            &>label {
                min-width: 90px;
            }
        }

        .column-box {
            padding: 0 0 10px;

            .title {
                display: flex;
                align-items: center;
                height: 40px;
                margin-bottom: 10px;
                padding: 0 10px;
                @include color(background-color, bg90);
                @include color(color, co2);
                border-bottom: 1px dashed #000;
                border-radius: 10px 10px 0 0;
            }

            .form.flex {
                min-height: 30px;
                height: auto;
                border-bottom: 0;
            }
        }
    }
    
    .widget-title {
        display: block;
        margin-bottom: 20px;
        @include font(16);
        font-weight: 700;
        @include color(color, co8);
    }

    .column-box {
        position: relative;
        margin-top: 10px;
        padding: 10px 0;
        @include color(background-color, bg70);
        box-sizing: border-box;
        border: 1px solid #000;
        border-radius: 10px;

        .form {
            padding: 0 10px;

            &+.form {
                margin-top: 5px;
            }
        }

        &.remove {
            width: calc(100% - 40px);

            .btn-remove {
                position: absolute;
                bottom: 15px;
                right: -40px;
                width: 24px;
                height: 24px;
                @include color(background-color, bg20);
                border-radius: 6px;
                color: #fff;
            }
        }
    }

    .btn-add {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        @include color(background-color, bg90);
        @include color(color, co8);
        border: 1px solid;
        @include color(border-color, co1);
        border-radius: 6px;
    }

    .accordion-list {
        margin-top: 30px;
    }
    

    .input-range {
        width: 90%;
        height: 5px;
        background: linear-gradient(to right, #6325fd 0%, #6325fd 50%, #30353a 50%, #30353a 100%);
        border-radius: 8px;
        outline: none;
        transition: background 450ms ease-in;
        -webkit-appearance: none;
        @include color(accent-color, co1);
        
    }
}

.color-list {
    display: flex;
    flex-direction: column;

    .color-item {
        display: flex;
        align-items: center;
        padding: 6px 10px;
    }

    .color {
        flex: 0 0 16px;;
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 4px;
        border-radius: 50%;
        background-color: #7628ba;

        &.square {
            border-radius: 0;
            background: linear-gradient(90deg, rgba(99,37,253,1) 0%, rgba(105,118,235,1) 100%);
        }
    }

    .txt {
        @include font(12);
        @include color(color, co8);
        @include textOverflowLine(1);
    }

    .btn-edit {
        @include color(color, co8);
    }
}

.accordion-list {
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #000;

    .accordion-item {
        @include color(background-color, bg90);

        &+.accordion-item {
            border-top: 1px solid #000;
        }

        &.is-active {

            .accordion-head {
                @include color(background-color, co1);

                .title {
                    color: #fff;
                    @include font(14);

                    &::before {
                        content: "\e92b";
                        font-family: "icomoon";
                        @include color(color, co5);
                        margin-right: 4px;
                    }
                }
            }
        }
    }

    .accordion-head {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 15px;
        @include color(background-color, bg70);

        .title {
            @include color(color, co8);
        }

        .btn-group {
            display: flex;
            flex-wrap: wrap;
            margin-left: auto;

            .btn {
                width: 16px;
                height: 16px;
                font-size: 16px;
                margin-left: 5px;

                & i {
                    @include color(color, co5);
                    font-size: 18px;

                    &.icon-x {
                        color: #fff;
                    }
                }
            }
        }
    }

    .accordion-content {
        padding: 0 10px;

        .form {
            margin-top: 10px;

            &.search {
                height: 30px;
                margin: 0 10px;
            }
        }

        .filter-box {
            position: relative;
            padding: 10px 0 20px;

            .form {
                display: flex;
                flex-direction: column;

                label {
                    height: 30px;
                }
            }

            .textarea {
                width: calc(100% - 60px);
            }

            .btn-toggle {
                position: absolute;
                top: 50px;
                right: 0;
                display: flex;
                flex-direction: column;

                .btn {
                    width: 60px;
                    height: 30px;
                    @include font(14);
                    @include color(background-color, bg70);
                    border-radius: 0  4px 4px 0;
                    @include color(color, co8);

                    &.is-active {
                        @include color(background-color, bg60);
                    }
                }
            }

            .btn-group {
                display: flex;
                flex-wrap: wrap;
                margin-top: 10px;
        
                &>button {
                    flex: 1;
                    height: 40px;
                    border: 1px solid;
                    border-radius: 4px;
                    @include font(14);
                    @include color(color, co8);
                    box-sizing: border-box;
                }
        
                .btn-filter {
                    border: 1px solid;
                    @include color(border-color, co1);
        
                    &>span {
                        padding-left: 20px;
                        @include bgImg("/assets/images/filter.png", "/assets/images/filter.png", "/assets/images/filter.png", "/assets/images/filter-themeLight.png");
                        background-repeat: no-repeat;
                        background-position: left center;
                    }
                }
        
                .btn-cancel {
                    margin-left: 10px;
                    @include color(background-color, bg90);
                    @include color(border-color, bg20);
                    @include color(color, bg20);
                }
            }
        }
    }
}

.popup {
    @extend %popup;

    .form {

        &+.form {
            margin-top: 10px;
        }

        &.share {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 10px;
            padding-left: 44px;
            background-image: url("/assets/images/share.png");
            background-repeat: no-repeat;
            background-size: 21px;
            background-position: left 10px center;

            .input-text {
                flex: 1;
            }

            .btn-copy {
                width: 24px;
                height: 24px;
                margin-left: 10px;
                background-image: url("/assets/images/copy.png");
                background-repeat: no-repeat;
                background-size: 21px;
                background-position: center;
                font-size: 0;
            }
        }
    }

    .textarea {
        height: 150px;
    }

    .info-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;

        .item {
            flex: 0 0 50%;
            display: flex;
            align-items: center;
            height: 24px;
            margin: 6px 0;
            padding-left: 30px;
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: left center;
            box-sizing: border-box;

            &:nth-child(1) {
                background-image: url("/assets/images/user.png");
            }

            &:nth-child(2) {
                background-image: url("/assets/images/view.png");
            }

            &:nth-child(3) {
                background-image: url("/assets/images/calendar.png");
            }

            &:nth-child(4) {
                background-image: url("/assets/images/download.png");
            }

            &:nth-child(5) {
                background-image: url("/assets/images/publish.png");
            }
        }

        span {
            @include font(14);
            font-weight: 600;
            @include color(color, co8);

            &.switch {
                height: 18px;
                margin-left: 12px;
            }
        }
    }

    .btn-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        .btn {
            display: flex;
            align-items: center;
            height: 36px;
            padding: 0 20px;
            border-radius: 4px;
            color: #fff;
            @include font(14);
            font-weight: 600;

            &+.btn {
                margin-left: 4px;
            }

            &.positive {
                @include color(background-color, co1);
            }

            &.negative {
                @include color(background-color, bg20);
            }

            & i {
                margin-right: 4px;
                font-size: 16px;
            }
        }
    }

    .table-list {
        margin-bottom: 30px;

        .table-item {
            position: relative;
            flex: 1;

            &+.table-item {
                margin-left: 30px;
                padding-left: 30px;
                border-left: 1px solid #000;

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -12px;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    @include color(background-color, bg20);
                    transform: translateY(-50%);
                }

                &::after {
                    content: "\e912";
                    position: absolute;
                    top: 50%;
                    left: -8px;
                    font-family: "icomoon";
                    font-size: 16px;
                    @include color(color, bg70);
                    transform: translateY(-50%);
                }
            }

            &>.title {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                @include font(14);
                @include color(color, co8);
    
                i {
                    display: block;
                    width: 14px;
                    height: 14px;
                    margin-right: 8px;
                    @include color(background-color, co7);
                    border-radius: 50%;
                    color: #000;
                    font-size: 12px;
                    text-align: center;
                    line-height: 14px;
                }
            }
        }
    }

    .data-column-list {
        height: 120px;

        .btn {
            font-size: 16px;
        }
    }

    &.floating {
        overflow: visible;
        position: relative;
        width: 280px;
        background: transparent;
        border: 0;
        box-shadow: none;

        .tab-panel {
            padding: 0;
        }

        .map-legend {
            position: relative;
            min-height: 100px;
            padding-bottom: 100%;
            height: 0;
            overflow-y: auto;
            overflow-x: hidden;

            .nav-tabs {

                .tab {
                    display: flex;
                    align-items: center;
    
                    &.is-active {
    
                        a {
    
                            &::after {
                                content: none;
                            }
                        }
                    }
                }
    
                .switch {
                    position: relative;
                    height: 20px;
                    margin-left: 10px;
    
                    [type=checkbox] {
    
                        &+span {
                            width: 40px;
                            height: 20px;
    
                            &::after {
                                content: "OFF";
                                position: absolute;
                                top: 50%;
                                right: 5px;
                                transform: translateY(-50%);
                                font-size: 10px;
                            }
                        }
    
                        &:checked {
    
                            &+ span {
    
                                &::before {
                                    left: 26px;
                                }
    
                                &::after {
                                    content: "ON";
                                    left: 6px;
                                    right: auto;
                                }
                            }
                        }
                    }
                }
            }
        }

        .color-list {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            .color-item {
                padding: 7px 15px;
            }
        }

        .resize {
            position: absolute;
            bottom: 0;
            right: -22px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 30px;
            @include color(background-color, bg10);
            border-radius: 20px;

            .btn {
                width: 12px;
                height: 12px;
                font-size: 0;

                &::before {
                    content: "\e9f5";
                    font-family: "icomoon";
                    color: #fff;
                    font-size: 8px;
                }

                &.down {
                    transform: rotate(180deg);
                }
            }
        }

        .edit-contents {
            height: 220px;
            padding: 15px;
            box-sizing: border-box;

            .color-picker {
                height: 100%;
                @include color(background-color, bg90);
                border-radius: 6px;
            }

            .color-gradient {
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                height: 100%;

                .gradient {
                    flex: 1;
                    overflow-y: auto;
                    height: 190px;
                    padding: 6px;
                    border-radius: 6px 0 6px 6px;
                    @include color(background-color, bg90);
                    box-sizing: border-box;

                    li {
                        width: 100%;
                        height: 17px;
                        border-radius: 2px;
                        background: linear-gradient(to right, #97a0ec 0%, #6976eb 50%, #6325fd 100%);

                        &+li {
                            margin-top: 6px;
                        }
                    }
                }

                .btn-toggle {
                    display: flex;
                    flex-direction: column;

                    .btn {
                        padding: 4px 12px;
                        border-radius: 0 6px 6px 0;
                        @include color(background-color, bg60);
                        @include font(12);
                        font-weight: 600;
                        color: #fff;

                        &.is-active {
                            @include color(background-color, bg90);
                        }
                    }
                }
            }

            .icon-container {
                display: flex;
                flex-wrap: wrap;

                .icon {
                    flex: 1;
                    height: 190px;
                    @include color(background-color, bg90);
                    border-radius: 6px 0 6px 6px;

                    .list {
                        overflow-y: auto;
                        height: 100%;
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        padding: 6px;
                        box-sizing: border-box;
    
                        & li {
                            width: 30px;
                            height: 30px;
                            margin: 0 auto;
                        }
                    }
                }

                .btn-toggle {
                    display: flex;
                    flex-direction: column;

                    .btn {
                        padding: 4px 12px;
                        border-radius: 0 6px 6px 0;
                        @include color(background-color, bg60);
                        @include font(12);
                        font-weight: 600;
                        color: #fff;

                        &.is-active {
                            @include color(background-color, bg90);
                        }
                    }
                }
            }
        }
    }

    &.confirm {
        width: 560px;
        padding: 40px;
        background-color: transparent;
        @include color(border-color, co7);
        box-shadow: none;
        box-sizing: border-box;

        .popup-header {
            height: auto;
            padding: 0;
            background-color: transparent;
        }
        
        .popup-title {
            color: #000;
        }

        .btn-close {
            color: #000;
        }

        .popup-content {
            max-height: unset;
            margin-top: 32px;
            padding: 0;

            p {
                word-break: keep-all;
            }
        }

        .popup-footer {
            margin-top: 32px;
            padding: 0;
        }
    }
}

.thumb-container {

    .tab-container {

        .tab-panel {
            border-radius: 0 6px 0 0;
        }
    }

    .thumb-list {
        border-radius:  0 0 6px 6px;
    }
}

.thumb-list {
    display: grid;
    grid-gap: 10px;
    padding: 0 20px 20px;
    @include color(background-color, bg50);
    border-radius: 6px;

    &.column-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &.column-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .thumb-item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 14px;
        @include color(background-color, bg60);
        border-radius: 6px;
        box-sizing: border-box;

        &.is-active {
            
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 6px;
                box-sizing: border-box;
                border: 2px solid;
                @include color(color, co1);
            }
        }

        & a {
            display: block;
        }

        .content {
            flex: 1;
            margin-left: 20px;
            width: calc(100% - 122px);

            dt {
                @include font(14);
                font-weight: 700;
                @include color(color, co8);
            }

            dd {
                margin-top: 10px;
                @include font(12);
                color: #8e8e93;
                width: 100%;
                @include textOverflowLine(2);

                &:last-child {
                    @include color(color, co8);
                }
            }
        }
    }
}

// gridstack custom
.grid-stack-item  > .ui-resizable-se {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background: none;
    cursor: pointer;

    &::before {
        content: "\e9a7";
        display: block;
        font-family: "icomoon";
        font-size: 24px;
        @include color(color, co1);
        transform: rotate(45deg);
    }
}
