@charset "utf-8";

%InputDefault {
    .input-text {
        display: block;

        &::placeholder {
            @include font(16);
        }

        &[readonly],
        &[disabled] {
            pointer-events: none;
            cursor: default;
            opacity: 1;
        }
    }
}

%CheckboxDefault {
    input[type="checkbox"] {
        & + label {
            position: relative;
            cursor: pointer;
            @include font(16);

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                display: block;
                border: 1px solid;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                transform: translateY(-50%);
            }
        }

        &:checked {
            & + label {
                &::after {
                    content: "\e92b";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    @include themeColor(color, color00);
                    font-weight: bold;
                    font-family: "Icomoon";
                    transform: translateY(-50%);
                    text-align: center;
                    line-height: 20px;
                }
            }

            &:disabled {
                pointer-events: none;
            }
        }

        &:disabled {
            pointer-events: none;
        }
    }
}

%RadioButtonDefault {
    input[type="radio"] {
        & + label {
            position: relative;
            display: inline-block;
            line-height: 20px;
            cursor: pointer;
            @include font(16);

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                display: block;
                border: 1px solid;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
            }
        }

        &:checked {
            & + label {
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        &:disabled,
        &[readonly] {
            & + label {
                pointer-events: none;
            }
        }
    }
}

%fileUpload {
    .file-upload {
        position: relative;
        z-index: 1;

        input[type="file"] {
            display: none;
        }
    }
}

%SelectDefault {
    .select {
        min-width: 126px;
        width: 100%;
        height: 34px;
        padding-left: 20px;
        @include themeColor(background-color, color00);
        @include funcImage("../images/icon-chevron-down.png");
        background-position: right 5px center;
		background-size: 24px;
        border: 1px solid #999;
        border-radius: 4px;
        @include font(14);
        font-weight: 500;
        cursor: pointer;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::-ms-expand {
            display: none;
        }

        &[readonly],
        &[disabled] {
            pointer-events: none;
            cursor: default;
        }
    }
}

%textarea {
    .textarea {
        overflow-y: auto;
        display: block;
        width: 100%;
        height: 110px;
        border: 1px solid #ddd;
        background-color: #f6f6f6;
        padding: 26px 36px;
        box-sizing: border-box;

        &::placeholder {
            @include font(18);
            font-weight: 700;
            color: #b3b3b3;
            word-break: break-all;
        }

        &[readonly],
        &[disabled] {
            pointer-events: none;
            cursor: default;
        }
    }
}

%table {
    .table {
        width: 100%;
        table-layout: fixed;

        caption {
            @include blind();
        }

        thead {

            th {
                padding: 13px 0;
                border-bottom: 1px solid #6b829e;
                vertical-align: middle;
                @include font(16);
                font-weight: 600;
                color: #23456f;
                text-align: center;
                background-color: #e2e6ec;

                & + th {
                    border-left: 1px solid #6b829e;
                }
            }
        }

        tbody {

            tr:last-child {

                td {
                    border-bottom: 0;
                }
            }

            td {
                padding: 8px 0;
                border-bottom: 1px solid #d2d9e2;
                vertical-align: middle;
                text-align: center;
                @include font(15);
                font-weight: 500;
                color: #333;

                &+td {
                    border-left: 1px solid #6b829e;
                }
            }
        }
    }
}

%SwitchType01 {
    & .switch-input {
        &:checked {
            & ~ .switch-label {

                .switch-circle {
                    left: calc(100% - 30px);
                }
            }
        }
    }

    .switch-label {
        display: inline-block;
        position: relative;
        width: 56px;
        height: 20px;
        border-radius: 10px;
        cursor: pointer;
        transition: all .2s linear;
    }

    .switch-circle {
        position: absolute;
        top: -5px;
        left: 0;
        width: 30px;
        height: 30px;
        overflow: hidden;
        z-index: 2;
        transition: all .2s linear;
    }

    .switch-circle-inner {
        display: block;
        width: 100%;
        height: 100%;
        border: 2px solid;
        border-radius: 50%;
        background: #fff;
        border-radius: 50%;
        box-sizing: border-box;
    }
}
