@charset "utf-8";

// 테마별 색상
$colorsTheme: (
    default: (
        color00: #ffffff,
        color01: #000,
        color02: #369367,
        color03: #ccc,
        color04: #ebebeb,
        color05: #777,
        color06: #e8e8e8,
        color07: #333
    )
);
@function funcColor($key, $type: "default") {
    @each $name, $color in map-get($colorsTheme, $type) {
        @if ($key == "none") {
            @return unset;
        } @else if($key == $name) {
            @return $color;
        }
    }
}
@mixin themeColor($property, $color, $important: false) {
    #{$property}: funcColor($color) #{if($important, "!important", "")};
}
@mixin gradient($deg, $colorStart, $colorEnd, $colorCenter: null) {
    @if ($colorCenter) {
        background: linear-gradient($deg, $colorStart 0%, $colorCenter 50%, $colorEnd 100%);
    } @else {
        background: linear-gradient($deg, $colorStart 0%, $colorEnd 100%);
    }
}
@mixin funcImage($defaultUrl, $width: null, $height: null) {
    background-image: url($defaultUrl);
    width: $width;
    height: $height;
    background-repeat: no-repeat;
}
@mixin font($size) {
    @if ($size == 32) {
        font-size: 32px;
        line-height: 48px;
    } @else if ($size == 28) {
        font-size: 28px;
        line-height: 42px;
    } @else if($size == 26) {
        font-size: 26px;
        line-height: 38px;
    } @else if($size == 24) {
        font-size: 24px;
        line-height: 36px;
    } @else if($size == 22) {
        font-size: 22px;
        line-height: 33px;
    } @else if($size == 20) {
        font-size: 20px;
        line-height: 30px;
    } @else if($size == 18) {
        font-size: 18px;
        line-height: 27px;
    } @else if($size == 16) {
        font-size: 16px;
        line-height: 24px;
    }@else if($size == 15) {
        font-size: 15px;
        line-height: 21px;
    } @else if($size == 14) {
        font-size: 14px;
        line-height: 21px;
    } @else if($size == 13) {
        font-size: 13px;
        line-height: 19px;
    } @else if($size == 12) {
        font-size: 12px;
        line-height: 18px;
    } @else if($size == 10) {
        font-size: 10px;
        line-height: 15px;
    }
}
